!
{% if interface_costs is defined %}
{% for i in interface_costs %}
interface {{ i.name }}
 ip ospf cost {{ i.cost }}
!
{% endfor %}
{% endif %}
router ospf
  network 172.17.5.0/24 area 0
  {% for area in areas %}
  network {{ area.network }} area {{ area.area }}
  {% endfor %}
  router-id {{ routerid }}
!
log stdout