!
{% if interface_costs is defined %}
{% for i in interface_costs %}
interface {{ i.name }}
 ip ospf cost {{ i.cost }}
!
{% endfor %}
{% endif %}
router ospf
{% if areas is defined %}
  {% for area in areas %}
  network {{ area.network }} area {{ area.area }}
  {% endfor %}
{% endif %}
  router-id {{ router_id }}
  {% if originate is defined %}
  default-information originate always
  {% endif %}
!
log syslog